<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kakaw.peepshow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:name="com.kakaw.peepshow.application.PeepShowApplication"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/ic_launcher"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.kakaw.peepshow.activity.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:theme="@style/Theme.AppCompat.Light"
            android:name="com.kakaw.peepshow.activity.MainActivity"></activity>
        
        <!-- This facebook activity is used when FB app doesn't exist in the mobile phone-->
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/title_facebook_login" >
        </activity>
        
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id" />
    </application>

</manifest>
